<div class="page-sidebar-wrapper">
<div class="page-sidebar navbar-collapse collapse">
<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">

    <li>
        <a href="javascript:;">
            <i class="fa fa-folder-open glyphicon glyphicon-question-sign"></i>
            <span class="title">杂志与图书版QA管理</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display:block;">
            <li>
                <a href="{:U('Questions/questionsType')}">
                    <i class="fa fa-table glyphicon glyphicon-tags"></i>
                    添加问题分类
                </a>
            </li>
            <li>
                <a href="{:U('Questions/typeList')}">
                    <i class="fa fa-table glyphicon glyphicon-tags"></i>
                    分类列表
                </a>
            </li>
            <li>
                <a href="{:U('Questions/questionsAdd')}">
                    <i class="fa fa-table glyphicon glyphicon-folder-close"></i>
                    添加杂志或图书版问题
                </a>
            </li>
            <li>
                <a href="{:U('Questions/questionsList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    杂志与图书版问题列表
                </a>
            </li>

        </ul>
    </li>
    <li class="start">
        <a href="javascript:;">
            <i class="fa fa-folder-open glyphicon glyphicon-folder-open"></i>
            <span class="title">文章版QA管理</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" >
            <li>
                <a href="{:U('Article/articleQuestionsType')}">
                    <i class="fa fa-table glyphicon glyphicon-tags"></i>
                    添加问题分类
                </a>
            </li>
            <li>
                <a href="{:U('Article/articleTypeList')}">
                    <i class="fa fa-table glyphicon glyphicon-tags" ></i>
                    文章分类列表
                </a>
            </li>
            <li>
                <a href="{:U('Article/articleQuestionsAdd')}">
                    <i class="fa fa-table "></i>
                    添加文章问题
                </a>
            </li>
            <li>
                <a href="{:U('Article/articleQuestionsList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    文章问题列表
                </a>
            </li>

        </ul>
    </li>
    <li class="start">
        <a href="javascript:;">
            <i class="fa fa-folder-open glyphicon glyphicon-question-sign"></i>
            <span class="title">护士笔记问答版</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('NurseNotes/nurseNotesQuestionsType')}">
                    <i class="fa fa-table glyphicon glyphicon-tags"></i>
                    添加笔记分类
                </a>
            </li>
            <li>
                <a href="{:U('NurseNotes/nurseNotesTypeList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    笔记分类列表
                </a>
            </li>
          <!--  <li>
                <a href="{:U('NurseNotes/nurseNotesQuestionsAdd')}">
                    <i class="fa fa-table"></i>
                    添加笔记问题
                </a>
            </li>-->
            <li>
                <a href="{:U('NurseNotes/nurseNotesQuestionsList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    笔记问题列表
                </a>
            </li>

        </ul>
    </li>
    <li class="start">
        <a href="javascript:;">
            <i class="fa fa-folder-open  glyphicon glyphicon-book "></i>
            <span class="title">护士笔记文章版</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" >
            <li>
                <a href="{:U('NurseArticle/nurseArticleQuestionsType')}">
                    <i class="fa fa-table glyphicon glyphicon-tags"></i>
                    添加笔记文章分类
                </a>
            </li>
            <li>
                <a href="{:U('NurseArticle/nurseArticleTypeList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    笔记文章分类列表
                </a>
            </li>
              <li>
                  <a href="{:U('NurseArticle/nurseArticleQuestionsAdd')}">
                      <i class="fa fa-table glyphicon glyphicon-list"></i>
                      添加笔记文章问题
                  </a>
              </li>
            <li>
                <a href="{:U('NurseArticle/nurseArticleQuestionsList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    笔记文章问题列表
                </a>
            </li>
            <li>
                <a href="{:U('NurseArticle/nurseArticleAdd')}">
                    <i class="fa fa-table glyphicon glyphicon-tags"></i>
                    添加文章
                </a>
            </li>
            <li>
                <a href="{:U('NurseArticle/nurseArticleList')}">
                    <i class="fa fa-table glyphicon glyphicon-list"></i>
                    添加/采集文章列表
                </a>
            </li>
            <li>
                <a href="{:U('NurseArticle/nurseArticleImport')}">
                    <i class="fa fa-table glyphicon glyphicon-export"></i>
                    批量导入文章
                </a>
            </li>
        </ul>
    </li>

    <li class="start">
        <a href="javascript:;">
            <i class="fa fa-folder-open glyphicon glyphicon-open"></i>
            <span class="title">问题批量导入</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" >
            <li>
                <a href="{:U('Questions/questionsImport')}">
                    <i class="fa fa-table glyphicon glyphicon-export"></i>
                    批量导入问题
                </a>
            </li>
        </ul>
    </li>


    <li class="start">
        <a href="javascript:;">
            <i class="fa fa-user glyphicon glyphicon-cog"></i>
            <span class="title">机器人管理</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Robot/robotSet')}">
                    <i class="fa fa-briefcase glyphicon glyphicon-lock"></i> 自学开关
                </a>
            </li>
            <li>
                <a href="{:U('Robot/studyLog')}">
                    <i class="fa fa-briefcase glyphicon glyphicon-folder-close"></i> 杂志版机器人学习日志
                </a>
            </li>
            <li>
                <a href="{:U('Robot/studyLog?lid=1')}">
                    <i class="fa fa-briefcase glyphicon glyphicon-folder-close"></i> 文章版机器人学习日志
                </a>
            </li>
        </ul>
    </li>

    <li class="start">
        <a href="javascript:;">
            <i class="fa fa-user"></i>
            <span class="title">用户管理</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('User/resetPassword')}">
                    <i class="fa fa-briefcase glyphicon glyphicon-tag"></i> 密码修改
                </a>
            </li>
            <li>
                <a href="{:U('User/userEdit')}">
                    <i class="fa fa-user glyphicon glyphicon-user"></i>修改个人资料
                </a>
            </li>
            <if condition="$userid eq 1">
                <li>
                    <a href="{:U('User/userAdd')}">
                        <i class="fa fa-user glyphicon glyphicon-user"></i>添加新用户
                    </a>
                </li>
                <li>
                    <a href="{:U('User/userList')}">
                        <i class="fa fa-user glyphicon glyphicon-list"></i>用户列表
                    </a>
                </li>
            </if>
        </ul>
    </li>

</ul>
<!-- END SIDEBAR MENU -->
</div>
</div>
