<include file="Public/Public_header" />
<div class="page-container">
    <include file="Public/Public_left" />
    <div class="page-content-wrapper">
        <div class="page-content">

<div class="row">
	<div class="col-md-12">
		<div class="portlet box red">
			<div class="portlet-title"  style="background-color: #009688 !important;"><div class="caption"><i class="fa fa-reorder"></i>账户密码修改</div> </div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered table-advance table-hover form01">
                        <form name="form01" id="form01"  method="post" >
							<input name="id" type="hidden" value="{$adminId}">
							<tr>
                                <td style="text-align: right;width:30%;">登录账号</td>
								<td><input name="username" class="layui-input" type="text" size="40" maxlength="44" value="{$admininfo}" disabled></td>
							</tr>
                            <tr>
                                <td style="text-align: right;">当前密码</td>
                                <td><input name="oldpwd" class="layui-input"  id="oldpwd" type="password" size="40" maxlength="44" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">新密码</td>
                                <td><input name="password" class="layui-input" id="password" type="password" size="40" maxlength="44" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">确认密码</td>
                                <td><input name="pwd" id="pwd" class="layui-input" type="password" size="40" maxlength="44" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td class="inp02" colspan="2" style="padding-left:32%;vertical-align: middle;" height="90px">
                                    <input type="button" onclick="adsubmit()" name="Submit" value="提 交" class="btn btn-primary">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <input type="reset" name="Resset" value="重 置">
                                </td>
                            </tr>
                        </form>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function Trim(str){
		return str.replace(/(^\s*)|(\s*$)/g,"");
	}

	function adsubmit(){
		var oldpwd   = Trim($('#oldpwd').val()),
			 password = Trim($('#password').val()),
			 pwd      = Trim($('#pwd').val());

		if ( oldpwd == '' || oldpwd == null || oldpwd == undefined){
			show_messages('当前密码不能为空！');
			$('#oldpwd').focus();
			return;
		}
		if ( password == '' || password == null || password == undefined){
			show_messages('新密码不能为空！');
			$('#password').focus();
			return;
		}
		if(password.length < 6 || password.length > 20 ){
			show_messages('密码长度不能超过20或短于6个字符！');
			$('#password').focus();
			return;
		}
		if ( pwd == '' || pwd == null || pwd == undefined){
			show_messages('确认密码不能为空！');
			$('#pwd').focus();
			return;
		}
		if(pwd.length < 6 || pwd.length > 20 ){
			show_messages('确认密码长度不能超过20或短于6个字符！');
			$('#pwd').focus();
			return;
		}
		if(password != pwd){
			show_messages('二次输入的密码不一致！');
			return;
		}

		$('#form01').submit();
	}
</script>

<include file="Public/Public_footer" />