<include file="Public/Public_header" />
<div class="page-container">
    <include file="Public/Public_left" />
    <div class="page-content-wrapper">
        <div class="page-content">
            <ul class="box">
            	<h2 class="box_tit"><a href="{:U('Questions/questionsList')}" class="add_btn layui-btn-normal layui-btn-radius">为对话机器人添加问题</a>对话机器人训练中心</h2>
                <div class="box_con col8 fn-clear">
                    <ul class="cate_tit fn-clear" style="margin-bottom: 1px;">
                     <!--   <a href="javascript:void(0);" class="btn btn-danger" style="float: left;margin: 12px 10px 0 5px" id="all">批量删除</a>
                      --> <form id="search-form2" class="navbar-form form-inline"  method="post">
                            <div class="form-group">
                                <label  class="control-label">问题ID：<label>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input  style="width:90px;" type="text" class="form-control" id="questionsId" placeholder="问题ID" value="<if condition='!empty($qid)'>{$qid}</if>" name="questionsId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">问题关键词：<label>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input  style="width:300px;" type="text" class="form-control" id="keywords" placeholder="问题名" value="<if condition='!empty($kyword)'>{$kyword}</if>" name="keywords">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="btn btn-primary" onclick="adsubmit()" ><i class="fa fa-search"></i> 搜索</label>
                            </div>

                        </form>
                    </ul>
                    <ul class="cate_tit fn-clear">
                        <li  style="width:2%;"><input type="checkbox" onclick="$('input[name*=\'id\']').prop('checked', this.checked);" class="checks"></li>
                        <li >ID</li>
                        <!--<li>问题ID</li>-->
                        <li>问题</li>
                        <li>返回值</li>
                        <li>添加时间</li>
                        <li>机器问题ID</li>
                        <li>机器问题分类</li>
                        <li >版本</li>
                        <li>操作</li>
                    </ul>
                    <foreach name="admin_list" item="list">
                    <div class="cate_item fn-clear" id="admin_list_{$list['id']}">
                        <p style="width:2%;"><input class="ids" type="checkbox" name="id" value="{$list['id']}"></p>
                        <p >{$list['id']}</p>
                       <!-- <p>{$list['question_id']}</p>-->
                        <p onclick="editType({$list['question_id']},'{$list['robot_id']}')" style="color: #00a0e9;width:14%">{$list['question_title']}</p>
                        <p onclick="editType({$list['question_id']},'{$list['robot_id']}')" style="color: #00a0e9;">{$list['contents']}</p>
                        <p>{$list['add_time']|date="Y-m-d H:i",###}</p>
                        <p>{$list['robot_id']}</p>
                        <p>{$list['robot_result']}</p>
                        <p style="width:8%;">{$list['version_id']}</p>
                        <p class="last">
                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑" onclick="editType({$list['question_id']},'{$list['robot_id']}')"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger" href="javascript:void(0)" data-url="{:U('Robot/robotQuestionsDel')}" data-rid="{$list['robot_id']}" data-id="{$list['id']}" onclick="delfun(this)"><i class="fa fa-trash-o"></i></a>
                        </p>
                    </div>
                    </foreach>
                    <!--<a href="javascript:void(0);" class="btn btn-danger" style="float: left" id="allii">批量删除</a>-->
                    <div class="page fn-clear">
                        {$page}
                    </div>
                </div> 
            </div>
        </div>
        <script>
            /*
             * 批量删除
             */
            $("#all,#allii").click(function(){
                var aa = '';
                $("input[name='id']:checkbox:checked").each(function(){
                    aa += $(this).val()+',';
                });
                if (aa.length == 0)
                {
                    show_messages('请选择问题！');
                    return false;
                }
                var url = '{:U("Robot/robotQuestionsDel")}';
                show_loading();
                $.ajax({
                    url:url,
                    type:'post',
                    dataType:'json',
                    data:{id:aa,d:1},
                    success:function(data){
                        close_loading(data.error,data.status);
                    }
                });
            });
            //搜索提交
            function adsubmit()
            {
                var starttime = $.trim($('#questionsId').val());
                var keywords  = $.trim($('input[name=keywords]').val());
                var r         = /^[0-9]*[1-9][0-9]*$/;　　//正整数
                //验证
                if (starttime == ''  && keywords == '')
                {
                    show_messages('请输入搜索条件！');
                    return false;
                }
                if (!r.test(starttime) && starttime != '')
                {
                    show_messages('问题ID必须为整数！');
                    $('#questionsId').focus();
                    return false;
                }

                $('#search-form2').submit();
            }
            //删除
            function delfun(obj){
                var url = $(obj).attr('data-url');
                var id  = $(obj).attr('data-id');
                var rid = $(obj).attr('data-rid');
                layer.confirm('确定删除此问题？', {
                    btn: ['确定','取消']
                }, function(){
                    show_loading();
                    $.ajax({
                        url:url,
                        type:'post',
                        dataType:'json',
                        data:{id:id,rid:rid},
                        success:function(data){
                            layer.msg(data.error, {icon: 1},function(){
                                if(data.status == '1'){
                                    $('#admin_list_'+id).remove();
                                };
                                layer.closeAll();
                            });
                        }
                    });
                }, function(){
                    layer.close();
                });
            }

            //iframe层
            function editType(obj,obji)
            {
                 //layer.msg('__ROOT__/index.php?s=/Home/Robot/robotQuestionsEdit/id/'+obj+'/rid/'+obji,{icon: 2,time: 3000});
                 layer.open({
                     type: 2,
                     title: '问题修改',
                     shadeClose: true,
                     shade: 0.8,
                     area: ['90%', '90%'],
                     content: '__ROOT__/index.php?s=/Home/Robot/robotQuestionsEdit/id/'+obj+'/rid/'+obji
                 });


            }
        </script>
        <include file="Public/Public_footer" />